body {
  position: relative;
  width: 1440px;
  height: 3040px;

  background: #ffffff;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #74c69d;
  width: 1180.28px;
  height: 378.13px;
  left: 130px;
  top: 125px;
  margin: 100px;
  padding-bottom: 50px;
}
.background {
  background-color: #74c69d;
  padding-top: 50px;
}
.left {
  color: #fff;
  width: 500px;
}
.box {
  width: 350px;
  margin-bottom: 50px;
}
.logo {
  width: 644.28px;
  height: 378.13px;
}

.first {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.second {
  font-size: 40px;
}

.button {
  background: #ffffff;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  border: none;
  padding: 10px 40px;
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 20px;
  
}
.partners-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 100px;
}
.black {
  color: black;
}
.green {
  color: #74c69d;
}

.logoweb {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 50px;
}
.black-button {
  background-color: black;
  color: white;
  
}

.navi {
  height: 50px;
  
}
