@media (max-width: 75rem) {
  .header-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo {
    display: flex;
    justify-content: space-between;
  }
  .main-nav {
    display: none;
  }
  .hero {
    display: flex;
    flex-direction: column-reverse;
  }
  .section1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .section2 {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
  }
  .left {
    margin-top: 1.6rem;
  }

  .burger {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
  }
  .bar-top,
  .bar-middle,
  .bar-bottom {
    height: 0.4rem;
    background: #fff;
    border-radius: 0.4rem;
    margin: 0.2 0;
    transform-origin: left;
    transition: all 0.5s;
  }
}
